body {
	font-family: 'Times New Roman', Times, serif;
	color: #110101;
	letter-spacing: 2px;
}

a {
	color: #1c0097;
	font-weight: bold;
}

a:visited {
	color: #c5b3cf;
}

h1 {
	font-size: 50px;
	color: #000000;
	margin: 0;
	line-height: 2;
	padding: 6;
}

#logo {
	float: right;
	margin: 20px 50px; 
}

#top_container {
	margin: 20px 0 50px 50px;
}

#info_container {
    font-size: 18px;
    color: #3f3206;
}

.orange {
	color: #3347ff;
	font-weight: bold;
	font-size: 30px;
}

#marquee_container {
	padding: 20px 0 20px 0;
	margin: 0 50px;
	text-align: center;
	font-size: 26px;
    line-height: 1.6;
    border-bottom: 2px dotted rgb(248, 11, 11);
}

#website_list_container {
    margin: 50px 50px 50px 50px;
    text-align: center;
    line-height: 1.6;
}


.day_lable {
	margin-right: 10px;
}

/* 
	This styling was added for the header and about page on 12/30/14. 
	I preserved all of the original code above - forgive any weirdness below :)
*/

header {
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

nav a {
	margin-left: 10px;
	font-weight: normal;
	color: #5f5f5f;
	text-decoration: none;
}

#about h3 {
	text-align: center;
	font-size: 34px;
	line-height: 54px;
	color: #ff9933;

}

#about #content {
	width: 80%;
	max-width: 750px;
	margin: auto; 
}

#content a {
	text-decoration: none;
	color: #1770C7;
}

#about #logo {
	float: none;
	display: block;
	text-align: center;
	margin: 70px auto;
}